<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2rxN63pa6bBrIE1MSX1-BYnqDQnIjORA</string>
	<key>GCM_SENDER_ID</key>
	<string>42514698096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mechbazar.rider</string>
	<key>PROJECT_ID</key>
	<string>mech-bazar-8fd86</string>
	<key>STORAGE_BUCKET</key>
	<string>mech-bazar-8fd86.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42514698096:ios:6a95f7382f9938063149b5</string>
</dict>
</plist>